# Docker compose environment variables
WARCRAFTLOGS_CLIENT_ID=
WARCRAFTLOGS_CLIENT_SECRET=
# Optional overrides:
# WARCRAFTLOGS_BASE_URL=https://www.warcraftlogs.com/api/v2/client
# WARCRAFTLOGS_AUTH_URL=https://www.warcraftlogs.com/oauth/token
